*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
$color1: rgb(139, 221, 227);
$color2: rgba(123, 113, 113, 0.821);
$white: rgba(243, 229, 229, 0.858);
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}
a{
    text-decoration: none;
    font-size: 1.2rem;
}
.active{
 background: plum;
 padding: 10px;
 color: white;
 transition: 0.3s ease;
 animation: anim 0.5s forwards;

 @keyframes anim {
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translate(0);
    }
 }
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
// .countries h1{
//     text-align: center;
//     color: red;
// }